#terminal-container.fade-out {
  opacity: 0.3;
  transition: none;
}

#terminal-container.fade-in {
  opacity: 1;
  transition: 0.5s opacity;
}

#pid-container {
  padding: 10px 30px;
  text-align: center;
}

#ws-container {
  padding: 10px 30px;
  text-align: center;
}
#terminal-container {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    padding: 2px;
    opacity: 1;
    transition: 1s opacity;
}


#terminal-container .terminal {
    background-color: #111;
    color: #fafafa;
    padding: 2px;
}

#terminal-container .terminal:focus .terminal-cursor {
    background-color: #fafafa;
}
